<!DOCTYPE html>
<html lang="pt-br" ng-app="Game">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ultimate Tic Tac Toe</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
</head>
<body>
<h1>Ultimate Tic Tac Toe</h1>
<section ng-controller="GameController as Game">
    <table id="board">
        <ngView></ngView>
        <tr ng-repeat="gridrow in grids">
            <td ng-repeat="grid in gridrow" class="win-{{ grid.win }} turn-{{ currentPlayer }}">
                    <table class="grid winmove-{{ grid.winMove }} pickable-{{ grid.isPickable() }}" ng-init="rows=[[],[],[]]">
                            <tr ng-repeat="row in rows">
                                <td ng-click="grid.check($parent.$index,$index)" ng-repeat="cell in rows" ng-class="cell-{{ cell }}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
            <p class="message">{{ message }}</p>
            <p class="scores">Scores: {{ scores[0] }} - {{ scores[1] }}</p>
        </section>
        
<script src="./js/Game.js"></script>
</body>
</html>
