/*
** Opacity
*/
/*
  ** Border Radius
  */
/*
  ** CSS3 animation
  */
.left {
  float: left;
}
.right {
  float: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.overflow {
  overflow: hidden;
}
.block {
  display: block;
}
.ib {
  display: inline-block;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.reset-input {
  border: 0 none;
  padding: 0;
  margin: 0;
  background: transparent;
}
.clearfix {
  *zoom: 1;
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
a {
  outline: none !important;
}
input::-moz-focus-inner {
  border: 0;
}
.disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
